* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #EEEEEE;
}

.table {
  padding: 5px;
}

.btn1 {
  background-color: #34B3F1;
  color: black;
  padding: 0.5rem;
}

.btn1:hover {
  background-color: #000000;
  color: #EEEEEE;
}

.btn2:hover {
  background-color:  #000000;
  color: #EEEEEE;
}

.btn2{
  background-color: #F15412;
  color: black;
  padding: 0.5rem;
}

.tabela {
  border-collapse: collapse;
  width: 770px;
  margin-top: 22px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
